<div id="miniPlayer" *ngIf="currentTrack != null">
    <img src="http://shenkar.html5-book.co.il/2016-2017/rs/dev_183/assets/volume.png">
    <p><span id="slash">/</span> {{currentTrack.name}} <{{currentTrack.artist}}></p>
    <img src="http://shenkar.html5-book.co.il/2016-2017/rs/dev_183/assets/playButton.png" (click)="play()">
    <img src="http://shenkar.html5-book.co.il/2016-2017/rs/dev_183/assets/pauseButton.png" (click)="pause()">
    <img src="http://shenkar.html5-book.co.il/2016-2017/rs/dev_183/assets/stopButton.png" (click)="stop()">
    <p id="timer">{{timeStr}}</p>
</div>