.playlist {
    display: inline-block;
    background-color: rgba(0,0,0,0.75);
    border: 1px solid #404040;
    padding: 4px;
    min-height: 165px;
    max-height: 165px;
    width: 100%;
    margin-bottom: 30px;
    padding-left: 25px;
    font-family: Verdana;
    text-decoration: none;
}
.playlist:hover {
    border: 1px solid #ffffff;
}
h1 {
    color: #ffffff;
    font-family: Verdana;
    font-size: 22px;
    background-color: #000000;
    display: inline-block;
    padding: 10px 30px 10px 10px;
    margin-top: 0px;
}
.playlist h3 {
    font-size: 15px;
    color: #ffffff;
}
.playlist h4 {
    font-size: 13px;
    color: #a3a3a3;
}
.playlist h5 {
    font-size: 12px;
    color: #727272;
}

#playlist_popup {
 position: fixed;
 left: 0;
 right: 0;
 top: 50%;
 bottom: 0;
background-image: url("../../assets/playlist_background.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
border-top: 2px solid #CACACA;
}
.menu_container {
    z-index: 1000;
}
#playlist_popup #tab {
    background: #2f2f2f;
    position: absolute;
    top: -40px;
    height: 40px;
    border-top: 2px solid #CACACA;
    border-left: 2px solid #CACACA;
    border-right: 2px solid #CACACA;
    width: 100px;
    left: 20px;
    color: #FFF;
    text-align: center;
    padding: 10px;
}
#playlist_popup #close {
    position: absolute;
    right: 10px;
    top: -16px;
    display: block;
}
#playlist_popup #close img {
    width: 32px;
    height: 32px;
}
#playlist_popup .row {
    position: relative;
}
.more {
    background: transparent;
    border: none;
}
.more:hover {
    font-weight: bold;
}
.moree {
    position: fixed;
    bottom: 0;
    right: 0;
}
.dropdown-menu {
    background-color:  rgba(0,0,0,0.75);
    border: 1px solid #ffffff;
}
.option {
    color: #ffffff;
    width: 100%;
    text-align: center;
}
.option:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}
.new {
  padding-left: 0px;   
}
.new h3 {
    text-align: center;
}
.new input {
    display: block;
    width: 90%;
    margin: auto;
    background-color: transparent;
    border:none;
    text-align: center;
    border-bottom: 1px solid #727272;
    font-family: Verdana;
    color: #ffffff;
    margin-bottom: 30px;
    margin-top:20px;
}
.new button {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: Helvetica;
    margin: auto;
    font-size: 14px;
    border: 1px solid #fefefe;
    border-radius: 8px;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    background-color: transparent;
    display: block;
    width: 80%;
}
.new button:hover {
    background-color: #fefefe;
    color: #0d0d0d;
}