<div class="background"></div>
<div class="main-container" (window:resize)="onResize($event)">
  <div class="row">
    <div class="col-md-3 menu_container">
      <main-menu></main-menu>
    </div>
    <div class="col-md-7">
      <h1>Playlists / Sets by your own choise</h1>
      <div class="row">
        <div *ngFor="let r of rows; let i=index">
          <div class="col-md-3" *ngFor="let p of r" >
            <a class="playlist" (click)="onSelected(p, $event)">
              <h3><{{p.name}}></h3>
              <h4 *ngIf="p.tracks.length>0">track: {{p.tracks[0].name}}</h4>
            </a>
          </div>
          <div>
            <a class="playlist" (click)="addNewPlaylist()">
              <h3>New Playlist</h3>
              <input type="text" name="playlistName" placeholder="playlist name" [value]="playlistName" (input)="playlistName = $event.target.value">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="selectedPlaylist && playlistSelected" id="playlist_popup" [style.top]="(selectedPlaylist.top+40) + 'px'">
  <div class="container">
    <div class="row">
      <div id="close" (click)="closePlaylist()"><img src="../../assets/x.png"/></div>
    </div>
  </div>
  <div id="tab" [style.width]="selectedPlaylist.width + 'px'" [style.left]="selectedPlaylist.left + 'px'">{{playlistSelected.name}}</div>
  <playlist-player></playlist-player>
</div>

 <!-- <app-player
  *ngIf="playlistSelected; else helpText"
  [playlist]=playlistSelected
  >
</app-player>
<ng-template #helpText>
    <h4>select track</h4>
</ng-template>

<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{user?.username}}!</h1>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>  -->