.container {
    padding: 100px 20px 20px 20px;
    border-radius: 4px 4px 4px 4px;
    background-color: #333333;
    margin: auto;
}
.dashboard_track {
    display: inline-block;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 4px;
    min-height: 165px;
    max-height: 165px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 25px;
}