<nav class="navbar navbar-default">
    <div class="">
        <div class="nanbar-header">
            <a routerLink="/dashboard" class="navbar-brand"><img src="../../assets/logo.png"></a>
        </div>

        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/dashboard">
                    Dashboard</a></li>
                <li routerLinkActive="active"><a routerLink="/getPref">
                    Preferences</a></li>
                <li routerLinkActive="active"><a routerLink="/playlist">
                    playlists</a></li>
                <li>
                    <mini-player></mini-player>
                </li>
            </ul>
        </div>
    </div>
</nav>