<nav class="navbar navbar-default">
    <div class="nanbar-header">
        <a routerLink="/dashboard" class="navbar-brand"><img src="http://shenkar.html5-book.co.il/2016-2017/rs/dev_183/assets/logo.png"></a>
    </div>

    <div class="navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <mini-player></mini-player>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="currentUser != null">
                <li class="dropdown" appDropdown>
                    <a  class="dropdown-toggle" role="button">{{currentUser.username}}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/getPref">Preferences</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
    </div>
</nav>