<ul class="menu-wrapper">
<!-- 
  <li><input ngui-auto-complete
        id="search"
        placeholder="Search"     
        [(ngModel)]="search" 
        [source]="appSvc.findHeroes"
        path-to-data="data.results"
        [list-formatter]="renderHero"
        min-chars="2" 
      />
      <br/>selected search: {{search | json}}<br/><br/></li> -->
      
  <li><a routerLink="#">SEARCH</a></li>
  <li><a routerLink="#">STORE</a></li>
  <li><a routerLink="#">CREATE WITH</a></li>
  <li><a routerLink="#">SHARING EFFECTS</a></li>
  <li><a routerLink="/playlist">PLAYLISTS</a></li>
  <li><a routerLink="/dashboard">TRACKS</a></li>
  <li><a routerLink="#">ARTISTS</a></li>
</ul>
