<div class="background"></div>
<div class="main-container"> 
  <div class="row">
    <div class="col-md-3">
      <main-menu></main-menu>
    </div>
    <div class="col-md-7">
      <h1>Tracks / Tracks by your preferences</h1>
      <div class="row">
        <div *ngFor="let r of rows; let i=index">
          <div class="col-md-3" *ngFor="let t of r" >
            <a class="dashboard_track" (click)="onSelected(t)">
              <h3>[{{t.name}}]</h3>
              <h4><{{t.artist}}></h4>
              <h5>|{{t.album}}|</h5>
              <div class="btn-group" (click)="$event.stopPropagation();" appDropdown>
                <button type="button" class="btn btn-primary dropdown-toggle more">. . .
                </button>
                  <ul class="dropdown-menu">
                    <li *ngFor="let p of playlists"><div class="playlist" (click)="addTrackToPlaylist(t._id,p.name)">{{p.name}}</div></li>
                  </ul>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>