
<div class="container"> 
  <div class="row" *ngFor="let r of rows; let i=index">
    <div class="col-md-4" *ngFor="let t of r" >
      <div class="dashboard_track">
        <h3>Name:   {{t.name}}</h3>
        <h4>Artist: {{t.artist}}</h4>
        <h5>Album:  {{t.album}}</h5>
        <div class="btn-group" appDropdown>
          <button type="button" class="btn btn-primary dropdown-toggle">More
            <span class="caret"></span>
          </button>
            <ul class="dropdown-menu">
              <li *ngFor="let p of playlists"><button (click)="addTrackToPlaylist(t._id,p.name)">{{p.name}}</button></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{user?.username}}!</h1>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>