<div class="background"></div>
<div class="main-container"> 
  <div class="row">
    <div class="col-md-3">
      <main-menu></main-menu>
    </div>
    <div class="col-md-7">
      <h1>Tracks / Tracks by your preferences</h1>
      <div class="row">
        <div *ngFor="let r of rows; let i=index">
          <div class="col-md-3" *ngFor="let t of r" >
            <a class="dashboard_track" (click)="onSelected(t)">
              <h3>[{{t.name}}]</h3>
              <h4><{{t.artist}}></h4>
              <h5>|{{t.album}}|</h5>
              <div class="btn-group" (click)="$event.stopPropagation();" appDropdown>
                <button type="button" class="btn btn-primary dropdown-toggle">More
                  <span class="caret"></span>
                </button>
                  <ul class="dropdown-menu">
                    <li *ngFor="let p of playlists"><button (click)="addTrackToPlaylist(t._id,p.name)">{{p.name}}</button></li>
                  </ul>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<app-player
  *ngIf="trackSelected; else helpText"
  [track]=trackSelected
  >
</app-player>
<ng-template #helpText>
    <h4>select track</h4>
</ng-template>

<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{user?.username}}!</h1>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>-->