<div class="container">
  <div class="row">
    
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div *ngIf="currentTrack != null">
        <div class="labels">
          <label class="lbl dj">DJ</label> 
          <label class="artist">[{{currentTrack.artist}}]</label>
        </div>
        <div class="labels">
          <label class="lbl">Name</label>
          <label class="name"> <{{currentTrack.name}}> </label>
        </div>
      </div>
      <canvas width="600" height="150" id="cnvs"></canvas>
      <p id="time">10:01</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="col-md-2 col-md-offset-1">
        <div class="button shuffle" [ngClass]="{selected: pps.shuffle}" (click)="shuffle_toggle()">
        </div>
      </div>
      <div class="col-md-2">
        <img src="http://shenkar.html5-book.co.il/2016-2017/rs/dev_183/assets/prev.png" (click)="prev()">
      </div>
      <div class="col-md-2">
        <div class="button" [ngClass]="{pause: pps.audio.paused, play: !pps.audio.paused}" (click)="playpause()">
        </div>
      </div>
      <div class="col-md-2">
        <img src="http://shenkar.html5-book.co.il/2016-2017/rs/dev_183/assets/next.png" (click)="next()">
      </div>
      <div class="col-md-2">
        <div class="button loop" [ngClass]="{selected: pps.loop}"   (click)="loop_toggle()">
        </div>
      </div>
    </div>
  </div> 
</div>