canvas {
  width: 100%;
}
#time {
    color: #FFF;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}
.button {
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: center center;
    height: 30px;
}
.button.shuffle {
    background-image: url('../../assets/shuffle.png');
}
.button.shuffle:hover {
    background-image: url('../../assets/shuffle_hover.png');
}
.button.shuffle.selected {

    background-image: url('../../assets/shuffle_hover.png');
}
.button.loop {
    background-image: url('../../assets/loop.png');
}
.button.play {
    background-image: url('../../assets/playlist_pause.png');
    height: 50px;
    margin-top: -10px;
}
.button.pause {
    background-image: url('../../assets/playlist_play.png');
    height: 50px;
    margin-top: -10px;
}
.button.play:hover {
    background-image: url('../../assets/playlist_pause_hover.png');
}
.button.pause:hover {
    background-image: url('../../assets/playlist_play_hover.png');
}
.button.loop:hover {
    background-image: url('../../assets/loop_hover.png');
}
.button.loop.selected {
    background-image: url('../../assets/loop_hover.png');
}
label {
    font-family: Helvetica;
}
.labels {
    width: 70%;
    margin: auto;
}
.labels:first-child {
    margin-top: 30px;
}
.lbl {
    background-color: #000000;
    opacity: 0.67;
    color: #595959;
    width: 15%;
    padding: 3px 7px 3px 3px;
    margin-right: 30px;
}
.dj {
    font-weight: bold;
    font-size: 20px;
}
.artist {
    background-color: #3b3a3a;
    color: #616161;
    font-weight: bold;
    font-size: 22px;
    padding-left: 11px;
    padding-right: 11px;
}
.name {
    color: #797979;
}