.background {
    background-image: url("../../assets/prefBackground.png");
}
.btn-success {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: Helvetica;
    width: 50%;
    margin: auto;
    font-size: 20px;
    border: 1px solid #fefefe;
    border-radius: 8px;
    margin-top: 25px;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    background-color: transparent;
}
.btn-success:hover {
    background-color: #fefefe;
    color: #0d0d0d;
}