.background {
    background-image: url("../../assets/prefBackground.png");
    /* background-repeat: no-repeat;
    height: 100%; 
    background-position: center;
    background-size: cover;
    padding-top: 60px; */
}
label {
    display: inline-block;
    font-family: Helvetica;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase; 
}
input {
    display: inline-block;
}