<div class="background"></div>
<div class="main-container">
  <form (ngSubmit)="updatePref()" #f="ngForm">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div *ngFor="let pf of pref" class="row form-group">
          <div class="col-md-3">
            <label for="amount">{{pf.name}}</label>
          </div>
          <div class="col-md-6">
            <input type="number" [id]="pf.name" 
              class="form-control"
              [name]="pf.name"
              [(ngModel)]="pf.value">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" >update</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>