.background {
    background-image: url("../../assets/prefBackground.png");
}
label {
    display: inline-block;
    font-family: Helvetica;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase; 
}
input {
    display: inline-block;
}